src/main/mule/batchjob.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7a3bd241-368f-4e74-8d09-e70a27b05a80" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchjobFlow" doc:id="7470f51c-c52d-4fd9-b708-9e749f1fb374" >
		<http:listener doc:name="Listener" doc:id="9ed07dc0-9d04-46f3-a0e2-bb1238fbf18e" config-ref="HTTP_Listener_config" path="/batchjob"/>
		<set-payload value='#[[1,2,"a",4,5,"b","c",6]]' doc:name="input" doc:id="a6c9b1f0-e2f7-4a6b-952d-2ae8e42f3172" />
		<batch:job jobName="batchjobBatch_Job" doc:id="1fd2b4c5-25da-41ee-95c9-64b42f379eb4" maxFailedRecords="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="5ed99c78-b67e-49f9-bafa-e83e984c7d7e" >
					<set-payload value="#[payload * 10]" doc:name="multiple" doc:id="8764179d-4e1b-47fc-b003-80a5be4d64fc" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="62f51e98-23b0-400e-953a-7bfe577c615a" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="38f6d8e5-f7ef-49a2-8206-76514c04054d" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="2b157b78-3898-4c89-a3c6-21d4fb0ec1e5" >
					<set-payload value="#[payload + 5]" doc:name="addition" doc:id="e706ed9d-4676-4c51-bb94-b385795ac307" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="dba40f81-8097-4ec9-b665-c7d1a00255f4" size="2">
						<logger level="WARN" doc:name="Logger" doc:id="c212ad7a-2ecd-4bd4-b480-b19fde9255ac" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c4f59e52-963f-45e1-b528-e6d0a2d0ee26" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
